:root{
    --speed-obstacle: 5s;
    --cubic-bezier: cubic-bezier(.08,.98,.9,1.07);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: fantasy;
    font-weight: 100;
}

.map{
    background-image: url("./files/background.png");
    height: 80vh;
    width: 60vw;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.points{
    color: lightgrey;
    font-size: 1.25em;
    padding: 2px 5px;
}

.ball{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 7.5vw;
    transition: bottom var(--cubic-bezier) .7s;
}

.obstacle{
    transition: left 5s linear;
}